body {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 1em;
    line-height: 2em;
  }

nav {
    
    background: #424955;
    height: 190px;
    background-image: url('/images/logo.png')  ;
    background-repeat: no-repeat;
    background-position: calc(50vw - 480px) ;
    text-align: right;
    vertical-align: middle;
    
   
}

nav ul {
    display: inline;
    list-style-type: none;
    margin-block-start: 0em;
    margin-block-end: 0em;
    padding-right: calc(50% - 480px);
    vertical-align: middle;
    display: inline-block;
    line-height: 235px;
}
    

nav ul li a {
    color: #f25c43;
    text-decoration: none;
}
nav ul li a:hover {
    color: #ccc;

}


nav ul li  {
    text-transform: uppercase;
    display: inline;
    text-align: left;
    margin-right: 10px;
}


section {
    text-align: center;

    margin: 0 auto;
}

section p {
    margin: 0 auto;
    width: 960px;
}

section h1:nth-child(1) {
    color: #f25c43;
}

section h1:nth-child(4) {
    color: white;
    background: #f25c43;
    height: 30px;
   padding: 90px; 
  text-align: center;

}

main  {
    display: flex;
    width: 960px;
    margin: 0 auto;
    background: white;
}

header {
    text-align: center;
    background: -webkit-linear-gradient(top,#313841 400px, #ffffff 20%);
}

header h1 {
    color: #f25c43;
    padding-top: 40px;
    margin-block-start: 0%;
}
header h2 {
    color: white;
    font-weight: bolder;
}


main article {
    flex-basis: 480px;
    padding: 10px;
}

article p:nth-of-type(1)    {
    background: url('/images/vprospect.png') no-repeat;
   
    
}
article p:nth-of-type(2)    {
    background: url('/images/vconvert.png') no-repeat;
 
}

article p::first-line {
    font-weight: bolder;
}

article div {
    display: float;
    float: left;
    width: 190px;
    height: 180px;
    float: left;
    clear: both;
}
main aside {
    flex-basis: 480px;
    padding: 10px;
}

aside p:nth-child(3) {
    font-weight: bolder;
}

aside p:nth-child(5) {
    font-weight: bolder;
}

body div:nth-child(5)  {
    background: #f5f6f6;
    height: 120px;
 }

footer {
    text-align: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 170px;
    justify-content: center;
    background-color: #30353d;
    color: white;
}

footer div:nth-child(2){
    display: flex;  
    justify-content: center;

}


footer div div:nth-child(1) {
    flex: 0 0 36px;
    height: 36px;
    width: 36px;
    background-image: url('../images/social-media.png');
    background-position: 0px 0px;

    
}
footer div div:nth-child(2) {

    height: 36px;
    width: 36px;
    background-image: url('../images/social-media.png');
    background-position: 36px 0px;
    
    
}
footer div div:nth-child(3) {
  
    height: 36px;
    width: 36px;
    background-image: url('../images/social-media.png');
    background-position: 74px 0px;
    
}

footer div div:nth-child(4) {

    height: 36px;
    width: 36px;
    background-image: url('../images/social-media.png');
    background-position: 112px 0px;
    
    
}

footer div div {
    margin: 2px;
}